.header-container {
  width: 100%;
}
.header {
  height: 80px;
  background-color: #1c2b35;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 112px;
  padding-right: 50px;
  margin-top: auto;
  width: 87%;
}

.header a {
  color: #ffffff;
  text-decoration: none;
  font-size: 17px;
  margin-right: 32px;
}

.header a:hover {
  color: orange;
}
